

@keyframes swipeOut {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%) rotate(-10deg);
    opacity: 0;
  }
}

.swipe-out {
  animation: swipeOut 0.5s ease forwards;
}

.colorBox:before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background: rgba(255, 255, 255, 0.05);
  z-index: -1;
  border-radius: 12px;
}
.colorBox:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
  border-radius: 12px;
}
.stick{
  position: sticky;
  width: 100%;
  top:4rem;
  right: 0;
  left: 0;
  z-index: 100;
  overflow:none;
}

.heart svg:hover path {
  fill: red;
  stroke:none;
}

.bg{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:469px){
  .xsm-max{
    display: flex;
    flex-direction: column;
  }
  .xsm-max button{
    width: 100%;
  }
}